@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Music Library!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br />
    <p>Use this Home page to learn more about music theory, then check out the Scale Library for practicing!</p>
    <br />
    <h2>The Chromatic Scale</h2>
    <p>There are 12 tones in western music that make up the chromatic scale.</p>
    <p>If we start with A, those tones would be A, A#/Bb, B, C, C#/Db, D, D#/Eb, F, F#/Gb, G, G#/Ab, then back to A. The # represents a sharp, and the b represents a flat. The note sounds the same, we just call those notes by whichever fits better when describing what we're playing. Starting and ending on the same note represents one octave.</p>
    <p>The frets on the guitar fretboard each represent one of these notes. We say that each fret is one half step away from the next. So if we start by playing the top string openly, this is an E note in standard tuning, we can play the chromatic scale for E by playing from one fret to the next all the way to 12. Those notes would be E, F, F#, G, G#, A, A#, B, C, C#, D, D#, and finally E.</p>
    <br />
    <h2>The Major Scale</h2>
    <p>If you skip a fret, like playing the 3rd fret then the 5th fret, that would be a whole step. The major scale uses both half steps and whole steps to play. The pattern is whole, whole, half, whole, whole, whole, half. If we wanted to play a G major scale, we would start with a G note on the fretboard, followed by A, B, C, D, E, F#, then finally G. Notice there are 8 notes in the scale when we count G twice.</p>
    <br />
    <h2>Other Scales</h2>
    <p>Other scales are made up from playing different patterns than that of the major scale. This scale library shows you the different patterns of scales, their notes and the formula for why they are different from the major scale.</p>
</div>
